@{
    ViewData["Title"] = "Admin Layout";
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8"  />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shubak-Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shubak_Website.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/iconsax/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css"/>
</head>
<body>
   
    <div class="container-fluid">

      <div class="d-flex bd-highlight mt-2 bg-black border-raduis">

        <div class="p-2 bd-highlight">
          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="isax isax-menu ms-2"></i>القائمة</button>
        </div>

        <div class="me-auto p-2 bd-highlight">
          <img width="200" src="/assets/ShubakControlPanelLogo.svg">
        </div>
      </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">قائمة التحكم</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">

            <a  href="@Url.Action("AddEvent","Admin")" class="btn CreatBtn btn-lg w-100">إضافة فعالية جديدة</a>

            <hr>
           <a class="link-style" href="@Url.Action("MyEventList","Admin")">
            <div  class="admin-btn border-raduis p-4 mb-3 ">
              <div><i class="isax isax-bubble me-2 icon-color "></i></div>
              <h4>الفعاليات</h4>
            </div>
           </a>

           <a class="link-style" href="@Url.Action("RememberList", "Admin")">
            <div  class="admin-btn border-raduis p-4 ">
              <div><i class="isax isax-people me-2 icon-color"></i></div>
              <h4>قائمة المشتركين</h4>
            </div>
           </a>
          </div>
        </div>

            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>


  
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)


</body>




</html>